:root {
    --primary:#333333 ;
    --secondary: #c35353;
    --third: white  ;
}


.grid {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 3fr 1fr;
    height: 140vh;
    background-color: var(--primary);
    
    
  }
  .sports {
    background: var(--secondary);
    border-radius: 20px;
    
  }
  .left-side {
    background: var(--secondary);
    border-radius: 20px;
    
  }
  .right-side {
    background: var(--secondary);
    border-radius: 20px;
    
  }
  
  .images{
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 10px;
    margin: 20px;
    box-sizing: border-box;
  }
 .card-body{
    padding: 10px;
 }
  .navbar{
    background-color: var(--primary) !important
  }
  .button-stats {
    background-color: var(--primary);
    color: white;
    width: 10em;
    border: none;
  }
  .button-stats:hover{
    background-color: white;
    color: var(--primary);
    font-weight: bolder;
  }




/* Stats Page */

@media screen and (max-width: 1200px) {

    #content{
        margin-left: 2% !important;
        margin-right: 2% !important;
    }

    #side-news{
        display: none;
   }

   #side-sort{
        display: none;
   }
}

/*Dunno what styling we want; I'll wait for index and copy that.*/
.navbar-custom{
    background-color: bisque;
    /* font settings */
}

.no-h-margin{
    margin-left:0% !important;
    margin-right: 0% !important;
}

.no-padding{
    padding-right: 0% !important;
    padding-left: 0% !important;
}

.card-text{
    padding-bottom: 1em;
}

#content{
    display: grid;
    grid-template-columns: 5% 30% 5% auto 5%;
    grid-template-rows: 4rem auto;
}

.content-button{
    grid-column-start: 2;
    grid-column-end: 3;
}

#content-logo{
    grid-column-start: 4;
}

#content-hr{
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 6;
}

#content-table{
    grid-row-start: 3;
    grid-column-start: 2;
    grid-column-end: 5;
}
