:root {
    --primary:#333333 ;
    --secondary: #c35353;
    --third: white;
}



.grid {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 3fr 1fr;
    height: 200vh;
    background-color: var(--primary);
    
  }
  .grid-stats{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 3fr 1fr;
    height: 120vh;
    background-color: var(--primary);
    
  }
  .sports {
    background: var(--secondary);
    border-radius: 20px;
    
  }
  .left-side {
    background: var(--secondary);
    border-radius: 20px;
    
  }
  .right-side {
    background: var(--secondary);
    border-radius: 20px;
    
  }
  
  .images{
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 20px;
    margin: 20px;
    box-sizing: border-box;
  }
 .card-body{
    padding: 20px;
 }
  .navbar{
    background-color: var(--primary) !important
  }
  .button-stats {
    background-color: var(--primary);
    color: white;
    width: 10em;
    border: none;
  }
  .button-stats:hover{
    background-color: white;
    color: var(--primary);
  
  }
  .button-submit{
    background-color: white;
    color: var(--primary);
    font-weight: bolder;
    border: none;
  }
  
  .button-submit:hover {
    background-color: var(--primary);
    color: white;
    border: 1px solid white;
  }
  .card{
    margin: 20px;

  }

  h1{
  display: flex;
  justify-content: center;
}
h3{
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
h2{
  display: flex;
  justify-content: center;
  margin-top: 5px;
}


.card-img-top:hover{
box-shadow: yellow;
}

.warriors{
  display: flex;
  justify-content: center;
  font-size: 1.2em;
  color: var(--primary);
  text-decoration: none;
}

.nba-logo:hover {
  animation: popUp 1s ease-in-out forwards;
}

@keyframes popUp {
  0% { transform: translateY(0); }
  50% { transform: translateY(-50px); }
  100% { transform: translateY(0); }
}

.card-photo{
  background-color: white;
  height: 200px;
}
.lebron {
  height: 300px;
  width: 250px;
  margin: 20px;
  border-radius: 20px;
}

.footer-index{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary); 
  color: white;
  height: 10vh;
}
.footer-stats{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary); 
  color: white;
  margin-top: 80vh;
}


.ballers{
  padding: 2em;
  height: 550px;
  width: 90%;
  box-shadow: 5px 5px 10px;
  

}








/* Stats Page */

@media screen and (max-width: 1200px) {

    #content{
        margin-left: 2% !important;
        margin-right: 2% !important;
    }

    #side-news{
        display: none;
   }

   #side-sort{
        display: none;
   }
}

/*Dunno what styling we want; I'll wait for index and copy that.*/
.navbar-custom{
    background-color: var(--primary);
    height: 15vh;
    color: white;
    
}
.navbar-nav{
  display: flex;
  align-items: center;
  background-color: var(--primary);
  color: white;
  font-size: 1.2em;
  text-decoration: solid;
  width: 200px;
  border: 1px solid white;
  border-radius: 10px;

}
.navbar-nav:hover{
  background-color: white;
  border-radius: 10px;
}

.no-h-margin{
    margin-left:0% !important;
    margin-right: 0% !important;
}

.no-padding{
    padding-right: 0% !important;
    padding-left: 0% !important;
}

.card-text{
    padding-bottom: 1em;
}

#content{
    display: grid;
    grid-template-columns: 5% 30% 5% auto 5%;
    grid-template-rows: 4rem auto;
}

.content-button{
    grid-column-start: 2;
    grid-column-end: 3;
}

#content-logo{
    grid-column-start: 4;
}

#content-hr{
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 6;
}

#content-table{
    grid-row-start: 3;
    grid-column-start: 2;
    grid-column-end: 5;
}

.spacing {
  margin-left: 2em;
}
.hoop:hover{
  box-shadow: 0px 0px 15px 15px  gold;
  cursor: pointer;
}
.shadows:hover {
  box-shadow: 0px 0px 15px ;
}
.teams-size:hover{
  font-size: 1.1em;
}
.players-margin{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px; 
  height: 50px;
  padding: 25px;
}
.order66{
  height: 30vh;
}

.record{
  height: 30vh;
  margin-left: 20%;
  margin-right: 20%;
}
.record-text{
  display: flex;
  justify-content: center;
  font-size: 5em;
}